/*============================================================= Footer =============================================================*/

footer {
    width: 100%;
    float: left;
    position: relative;
    z-index: 2;
    background-color: $footer-black;
    color: $white;
    @include flexbox(center, space-between, nowrap);
    padding: $margin-medium 5%;

    @media (max-width: $breakpoint-mobile) {
        @include flex-direction(column);

        .social {
            margin-bottom: $margin-medium;
        }
    }
}