@charset "UTF-8";
/* SCSS Document */

/*============================================================= Imports =============================================================*/

@import "mixins";
@import "colors";
@import "fonts";
@import "layouts";

/*============================================================= General =============================================================*/

* {
    @include box-sizing(border-box);
    outline: none;
}

html,
body {
    @extend %paMar;
    @include body();
    @include font-size(15px);
    color: $fonts-black;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

/*============================================================= Components =============================================================*/

@import "header";
@import "footer";
@import "components";
@import "social";

/*============================================================= Pages =============================================================*/

@import "home";
@import "projects";